body{
	margin: 0px;
	background: no-repeat url(img/whs.svg);
	background-position: bottom 12px right 18px;
}
.menu{
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
		margin-top: 8px;
  	padding-top: 34px;
    background: no-repeat top 16px left 3.3% url(img/logo.svg);
}
.menu__ctr{
  	display: flex;
  	justify-content: space-between;
  	width: 489px;
  	margin-left: 32.4%;
}
.menu__right{
  	display: flex;
  	justify-content: space-between;
  	width: 148px;
    margin-left: auto;
  	margin-right: 2.1%;
}
.menu__item{
  	text-decoration: none;
  	font: 600 15px/18px montserrat, arial;
  	color: #000;
}
.menu__item_mx{
	padding-left: 35px;
}
.menu__item_m{
		padding-right: 17px;
}
.menu__item:hover{
  color: #E51937;
  transition-duration: .4s;
}
.menu__item_active{
  color: #E51937;
}
.menu__item_active:after{
  position: relative;
  display: block;
  content:'';
  width: 90%;
  margin-top: 4px;
  border-color: #E51937 #FFF #FFF #FFF;
  border-style: solid;
}
.hidden-menu-ticker{
  display: none;
}
.hidden-menu-ticker_burger {
	display: block;
	position: relative;
	width: 22px;
	height: 18px;
  margin-right: 4.5%;
}
.hidden-menu-ticker_burger span {
	position: absolute;
	width: 100%;
	top: 6px;
	border-color: #E51937 #FFF #FFF #FFF;
	border-style: solid;
}
.hidden-menu-ticker_burger:before,
.hidden-menu-ticker_burger:after{
	content: '';
	border-color: #E51937 #FFF #FFF #FFF;
	border-style: solid;
	padding-bottom: 1px;
	position: absolute;
	width: 100%;
}
.hidden-menu-ticker_burger:after{
	top: 12px;
}
.sec-one{
  background: no-repeat top -19px center url(img/logo-back.svg);
	height: 747px;
  display: block;
  justify-content: center;
  align-items: center;
}
.sec-one__name{
  display: flex;
  justify-content: center;
  font: 600 90px/70px montserrat, arial;
  color: #000;
  margin-top: 83px;
  margin-bottom: 0px;
}
.sec-one__wellcome{
  display: flex;
  justify-content: center;
  font: 500 15px/18px montserrat, arial;
  color: #000;
  margin-top: 11px;
}
.sec-one__img{
	margin-left: -75px;
}
.sec-one__img_change{
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.sec-one__desc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	align-items: flex-start;
  margin-top: 34px;
  width: 801px;
  margin-left: auto;
  margin-right: auto;
}
.sec-one__desc-left{
	display: flex;
  flex-direction: row;
  justify-content: space-between;
	width: 375px;
}
.sec-one__desc-right{
	display: flex;
  flex-direction: row;
  justify-content: space-between;
	width: 318px;
}
.sec-one__speed{
  display: flex;
  flex-direction: column;
	width: 93px;
  background: no-repeat top 6px left -3px url(img/speed.svg);
	padding-left: 61px;
	padding-top: 1px;
}
.letters{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.big-letters{
  margin-top: 0px;
  margin-bottom: 0px;
  font: 600 35px/30px montserrat, arial;
}
.middle-letters, .middle-letters_s2{
  margin-top: 5px;
  font: 600 20px/30px montserrat, arial;
}
.middle-letters_ipad{
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 1px;
}
.small-letters{
	margin-top: 0px;
  margin-bottom: 0px;
  font: 400 12px/14px montserrat, arial;
}
.sec-one__run{
  display: flex;
  flex-direction: column;
	height: 58px;
	width: 145px;
  background: no-repeat top 1px left url(img/road.svg);
	box-sizing: border-box;
	padding-left: 48px;
}
.sec-one__test{
  background: no-repeat top 13px left url(img/test.svg);
	text-shadow: 0px 2px 3px #A9A9A9;
	padding-top: 17px;
	padding-left: 25px;
  font: 700 13px/15px montserrat, arial;
}
.button-order{
  text-decoration: none;
  border: 2px solid #E51937;
  color: #E51937;
	margin-top: 5px;
  padding: 10px 40px;
  font: 700 13px/15px montserrat, arial;
}
.button-order:hover{
  transition: 1s ease-in-out;
  background: #E51937;
  color: #FFF;
}
.sec-one_foot{
  margin-top: 28px;
  height: 17px;
  background: no-repeat center  url(img/vector.svg);
}
.sec-two{
	display: flex;
	flex-direction: row;
	background: no-repeat bottom left url(img/cockpit.svg);
	height: 900px;
	justify-content: space-between;
}
.sec-two__name{
	color: #E51937;
	font: 600 70px/85px montserrat, arial;
	margin-left: 80px;
	margin-top: 65px;
}
.sec-two__aside{
	width: 388px;
	background: #E51937;
	padding-left: 52px;
	color: #FFF;
}
.sec-two__desc-one{
	width: 310px;
}
.name{
	font: 600 30px/37px montserrat, arial;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 350px;
}
.text{
	font: 500 15px/18px montserrat, arial;
}
.sec-two__desc-one{
	margin-top: 51px;
}
.sec-two__desc-two{
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 281px;
	margin-bottom: 149px;
}
.sec-two__aside-diagonal{
	display: flex;
	flex-direction: column;
	background: no-repeat top 10px left url(img/screen.svg);
	padding-top: 5px;
	padding-left: 55px;
	font: 600 15px/18px montserrat, arial;
	height: 80px;
}
.sec-two__aside-wifi{
	display: flex;
	flex-direction: column;
	background: no-repeat top 13px left url(img/wifi.svg);
	padding-left: 60px;
	font: 600 15px/18px montserrat, arial;
	height: 83px;
}
.middle-letters_wifi{
	margin-top: 0px;
  line-height: 18px;
	margin-bottom: 3px;
}
.sec-two__aside-baggage{
	display: flex;
	flex-direction: column;
	background: no-repeat top 6px left url(img/bag.svg);
	padding-left: 60px;
	font: 600 15px/18px montserrat, arial;
	height: 80px;
}
.footer{
	display: flex;
	justify-content: space-between;
	width: 89%;
	height: 46px;
}
.info{
	background: no-repeat top left url(img/i.svg);
	font: 700 13px/15px montserrat, arial;
	padding-left: 28px;
	padding-top: 5px;
	height: 50px;
}
.btn-white{
	color: #FFF;
	border-color: #FFF;
}
.btn-white:hover{
  transition: 1s ease-in-out;
  background: #FFF;
  color: #E51937;
}
.sec-three{
	display: flex;
	flex-direction: row;
	color: #FFF;
	height: 900px;
	background: no-repeat url(img/foot-back.svg);
	background-position: top 142px right;
}
.sec-three__aside{
	background: #E51937;
	width: 384px;
	padding-left: 56px;
}
.begin__chap1{
	margin-top: 51px;
}
.text_sec3{
	width: 330px;
}
.begin__chap2{
	margin-top: 54px;
}
.desc-item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 291px;
}
.desc-item_first{
	margin-top: 20px;
}
.desc-item_text{
	font: 700 17px/37px montserrat, arial;
	margin-top: 0px;
	margin-bottom: 0px;
}
.desc-item_stars{
	background: space url(img/star.svg);
	width: 140px;
	height: 24px;
	margin-top: 6px;
	margin-bottom: 0px;
}
.desc-item_text_first{
	margin-top: 10px;
}
.desc-item_text10{
	font-size: 10px;
	line-height: 12px;
}
.mark{
	display: flex;
	flex-direction: column;
	background: no-repeat url(img/security.svg);
	background-position: left top 6px;
	padding-left: 85px;
	height: 80px;
	margin-top: 98px;
	margin-left: 10px;
	margin-bottom: 54px;
}
.mark-stars{
	margin-top: 15px;
	margin-bottom: 0px;
	font: 600 50px/25px montserrat, arial;
}
.mark-security{
	font: 600 25px/19px montserrat, arial;
	margin-top: 15px;
	margin-left: -1px;
}
.footer_s3{
	margin-left: -16px;
}
.sec-three__img{
	position: absolute;
	margin-top: 170px;
	margin-left: 345px;
}
.sec-three__img-ipad{
	display: none;
}
.sec-three__img-mob{
	display: none;
}
@media (max-width: 1024px) and (min-width: 495px){
	.menu__ctr, .menu__right, .mark{
		display: none;
	}
	.menu{
		background-position: top 24px left 2.4%;
		background-size: 21.8%;
		margin-top: 0px;
		height: 30px;
	}
	.hidden-menu-ticker_burger {
		width: 30px;
		height: 22px;
		margin-right: 5.1%;
	}
	.hidden-menu-ticker_burger span {
		top: 14px;
	}
	.hidden-menu-ticker_burger:before{
		top: 4px;
	}
	.hidden-menu-ticker_burger:after{
		top: 24px;
	}
	.sec-one{
		background-size: 108.2%;
		background-position: -10px 77px;
		height: 870px;
	}
	.sec-one__name{
		margin-top: 112px;
	}
	.sec-one__wellcome{
		margin-top: 10px;
	}
	.sec-one__img{
		margin-left: 0px;
	}
	.sec-one__img_change{
		margin-top: 90px;
		width: 91.1%;
	}
	.sec-one__desc {
		flex-direction: column;
		justify-content: space-between;
		align-items:center;
		width: 500px;
		height: 190px;
		margin-top: 38px;
	}
	.sec-one__desc-left{
		width: 100%;
		justify-content: space-between;
	}
	.sec-one__desc-right{
		width: 420px;
		justify-content: space-between;
	}
	.letters{
		justify-content: flex-start;
	}
	.big-letters{
		font-size: 50px;
		line-height: 60px;
	}
	.middle-letters{
		margin-top: 17px;
		margin-left: 10px;
	}
	.sec-one__speed{
		background-size: 37.8%;
		background-position: 0px 17px;
		margin-top: 0px;
		padding-left: 92px;
		height: auto;
		width: auto;
	}
	.sec-one__run{
		background: no-repeat url(img/road-ipad.svg);
		background-position: 5px 9px;
		width: 212px;
		height: 85px;
		padding-left: 65px;
	}
	.sec-one__test{
		background: no-repeat top 18px left url(img/test-red.svg);
		font-size: 16px;
		line-height: 19px;
		text-shadow: none;
		color: #E51937;
		padding-top: 27px;
		padding-left: 48px;
	}
	.button-order{
		font-size: 16px;
		line-height: 19px;
		color: #FFF;
		background-color: E51937;
		padding: 16px 62px;
	}
	.button-order:hover{
		transition: 1s ease-in-out;
		background: #FFF;
		color: #E51937;
		border: 2px solid #E51937;
	}
	.sec-one_foot{
		margin-top: 64px;
	}
	.sec-two{
		width: 100%;
		height: 1001px;
		flex-direction: column;
		justify-content: flex-start;
		background: no-repeat top 13px left url(img/cockpit-ipad.svg);
	}
	.sec-two__name{
		margin-left: auto;
		margin-right: 47px;
		margin-top: 23px;
	}
	.sec-two__aside{
		width: 100%;
		height: 490px;
		margin-top: 349px;
		padding-left: 4.5%;
		padding-right: 11.4%;
		box-sizing: border-box;
	}
	.sec-two__desc{
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		width: 100%;
	}
	.sec-two__desc-one{
		margin-top: 55px;
		height: 260px;
	}
	.text{
		margin-top: 22px;
	}
	.sec-two__desc-two{
		margin-top: 52px;
		margin-bottom: 60px;
		height: 264px;
	}
	.sec-two__aside-diagonal{
		background-position: top 15px left 4px;
		padding-left: 58px;
	}
	.big-letters_ipad{
		font-size: 35px;
		line-height: 42px;
	}
	.sec-two__aside-wifi{
		background-position: top 13px left;
	}
	.middle-letters_s2{
		padding-left: 0px;
		margin-bottom: 5px;
	}
	.middle-letters_ipad{
		line-height: 17px;
		margin-top: 0px;
	}
	.sec-two__aside-baggage{
		background-position: top 10px left 4px;
		padding-left: 64px;
	}
	.footer{
		width: 459px;
		height: 58px;
		padding-left: 46px;
		padding-right: 0px;
		margin-left: auto;
		margin-right: auto;
	}
	.info{
		font-size: 16px;
		line-height: 19px;
		background-size: 15%;
		padding-left: 47px;
	}
	.sec-three{
		flex-direction: column-reverse;
		background-size: 76.7%;
		background-position: top 72px right 83px;
		margin-top: 0px;
		height: 1000px;
	}
	.sec-three__img{
		display: none;
	}
	.sec-three__img-mob{
		display: none;
	}
	.sec-three__img-ipad{
		display: block;
		position: relative;
		margin-top: 77px;
		margin-left: -1px;
		width: 96%;
	}
	.sec-three__aside{
		width: 100%;
		margin-top: 35px;
		padding-left: 34px;
		box-sizing: border-box;
		height: 500px;
	}
	.begin{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 60px;
	}
	.begin__chap1{
		margin-top: 62px;
	}
	.text_sec3{
		margin-top: 15px;
	}
	.begin__chap2{
		margin-top: 62px;
		margin-left: 38px;
	}
	.footer_s3{
		padding-left: 0px;
		margin-left: 120px;
	}
}
@media (max-width: 494px){
	.menu{
		background-position: top left .5%;
		background-size: 37%;
		margin-top: 5px;
		padding-top: 10px;
	}
	.menu__ctr, .menu__right, .sec-two__name, .sec-two__desc-two, .footer, .begin__chap2, .mark{
		display: none;
	}
	.hidden-menu-ticker_burger {
		margin-top: 4px;
	  margin-right: 6.6%;
	}
	.sec-one{
		background-size: 115%;
		background-position: -20px 78px;
		height: 550px;
	}
	.sec-one__name{
		font-size: 50px;
		line-height: 60px;
		margin-top: 41px;
	}
	.sec-one__wellcome{
		font-size: 10px;
		line-height: 12px;
		margin-top: 0px;
	}
	.sec-one__img{
		margin-left: 0px;
	}
	.sec-one__img_change{
		margin-top: 46px;
	  width: 95%;
	}
	.sec-one__desc {
		flex-direction: column;
		justify-content: space-between;
		width: 303px;
		height: 128px;
		margin-top: 27px;
	}
	.sec-one__desc-left{
		width: 288px;
		justify-content: space-between;
	}
	.sec-one__desc-right{
		width: 100%;
		justify-content: space-between;
	}
	.letters{
		justify-content: flex-start;
	}
	.big-letters{
		font-size: 27px;
		line-height: 32px;
	}
	.middle-letters{
		font-size: 15px;
		line-height: 19px;
		padding-left: 8px;
		padding-top: 5px;
	}
	.small-letters{
		font-size: 10px;
		line-height: 12px;
	}
	.sec-one__speed{
		background-size: 30%;
		background-position: top 8px left 3px;
		padding-left: 58px;
	}
	.sec-one__run{
		background: no-repeat top 1px left 26px url(img/road-ipad.svg);
		background-size: 18.9%;
		padding-top: 1px;
		padding-left: 64px;
	}
	.sec-one__test{
		padding-left: 29px;
	}
	.button-order{
		color: #FFF;
		background-color: E51937;
	}
	.button-order:hover{
	  transition: 1s ease-in-out;
	  background: #FFF;
	  color: #E51937;
		border: 2px solid #E51937;
	}
	.sec-one_foot{
		margin-top: 32px;
	}
	.sec-two{
		width: 100%;
		height: 567px;
		flex-direction: column-reverse;
		justify-content: flex-start;
		background: no-repeat top -63px left url(img/cockpit-mob.svg);*/
		}
	.sec-two__aside{
		width: 100%;
		height: 305px;
		padding-left: 7%;
		box-sizing: border-box;
	}
	.sec-two__desc-one{
		margin-top: 18px;
	}
	.text{
		margin-top: 10px;
	}
	.sec-three{
		flex-direction: column-reverse;
		justify-content: flex-start;
		background-size: 106%;
		background-position: top 48px left;
		margin-top: 0px;
		height: 590px;
	}
	.sec-three__img{
		display: none;
	}
	.sec-three__img-ipad{
		display: none;
	}
	.sec-three__img-mob{
		display: block;
		position: relative;
		width: 96%;
		margin-bottom: 32px;
	}
	.sec-three__aside{
		width: 100%;
		padding-left: 30px;
		box-sizing: border-box;
		height: 297px;
	}
	.begin__chap1{
		margin-top: 18px;
	}
	.text_sec3{
		margin-top: 11px;
	}
}
